
.icon img {
  width: 50px;
}
#header {
  margin-top: 0px;
}
#img-header {
  width: 300px;
}
#nav-bar ul {
  list-style: none:
    text-decoration: none;
  color: black;
}
section {
  margin-top: 130px;
}
