
.icon img {
  width: 50px;
}
#header {
  margin-top: 0px;
}
#img-header {
  width: 300px;
  float: left;
}
#nav-bar ul {
  list-style: none;
    text-decoration: none;
  color: black;
}
#nav-bar {
  margin-top: 10px;
  text-align: center;
  float: right;
}
section {
  margin-top: 130px;
}
